body{
 font-family: Arial;
 margin:40px;
 background:#111;
 color:white;
}

table{
 width:100%;
 border-collapse:collapse;
}

th,td{
 border:1px solid #444;
 padding:10px;
 text-align:left;
}

th{
 background:#222;
}
